---
import Papa from 'papaparse'
import { timeParse } from 'd3'

import TimelineChart from '@/components/Chart'
import Layout from '@layouts/Layout.astro'

import type { TimelineChartDataEntry, TimelineChartRawDataEntry } from '@types'

import { data as rawData } from '../data/money-market_data'
import { config } from '../data/money-market_config'
import LiveEditor from '@/components/Editor/LiveEditor'
// import { data as rawData } from '../data/fed-funds_data'
// import { config } from '../data/fed-funds_config'
// import { data as rawData } from '../data/stock-prices_data'
// import { config } from '../data/stock-prices_config'

const { errors, data: parsedData }: { errors: any[]; data: any[] } = Papa.parse(rawData, {
	dynamicTyping: true,
})

if (errors.length) {
	throw new Error(`Error parsing data: ${JSON.stringify(errors)}`)
}

const columns: string[] = parsedData[0]
const dataset: TimelineChartRawDataEntry[] = parsedData.slice(1)

const [dateKey, ...series] = columns
const dateParser = timeParse('%d/%m/%Y')
const data: TimelineChartDataEntry[] = dataset.map(([dateStr, ...values]) => [
	dateParser(dateStr)!,
	...values,
])
---

<Layout>
	<div class='container'>
		<LiveEditor data={data} initialConfig={config} client:load />
		<!-- <TimelineChart data={data} config={config} client:load /> -->
	</div>
</Layout>

<style>
	.container {
		height: 100%;
		/* display: grid; */

		/* background-image: linear-gradient(45deg, #cccccc80 25%, transparent 25%),
			linear-gradient(-45deg, #cccccc80 25%, transparent 25%),
			linear-gradient(45deg, transparent 75%, #cccccc80 75%),
			linear-gradient(-45deg, transparent 75%, #cccccc80 75%);
		background-size: 20px 20px;
		background-position:
			0 0,
			0 10px,
			10px -10px,
			-10px 0px;
		background-repeat: repeat; */
	}
</style>
